Repository sweatboys/open-discogs-api, pull requests merged in 2022-12, with the labels that each got.

#5 merge PR: ci/coverage
  .githooks/commit-msg
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  HELP.md
  README.md
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/io/dsub/sweatboys/opendiscogs/api/Constants.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/OpenDiscogsApiApplication.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/domain/Artist.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/domain/ArtistRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistR2dbcRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistRepositoryImpl.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/service/ArtistService.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/DatabaseConfiguration.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/PageableWebFluxConfiguration.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/properties/DatabaseProperties.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/core/response/Response.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/core/service/PagingService.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/BaseCheckedException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/EnvironmentVariableException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/InvalidEnvironmentVariableException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/InvalidR2DBCConnectionUrlException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/ItemNotFoundException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/MissingRequiredEnvironmentVariableException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/UnsupportedDatabaseException.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/exception/ValidationExceptionHandler.java
  src/main/resources/application.yml
  src/test/java/io/dsub/sweatboys/opendiscogs/api/OpenDiscogsApiApplicationTests.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/service/ArtistServiceTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/test/AbstractConcurrentDatabaseIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/test/AbstractDatabaseIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/test/ConcurrentTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/test/util/TestUtil.java
  src/test/resources/application.yml
  src/test/resources/schema.sql
Labels: enhancement

#9 PR feat: adds domain for label and master.
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/domain/Label.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/domain/LabelRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/domain/Master.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/domain/MasterRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/domain/ReleaseRepository.java
Labels: enhancement

#10 feat: initial implementation of artist service layer
  build.gradle
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/application/ArtistService.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/domain/Artist.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/domain/ArtistRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistDetailDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistReleaseDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistR2dbcRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistRepositoryImpl.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/query/ArtistQuery.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/DatabaseConfiguration.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/properties/DatabaseProperties.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/core/response/PagedResponseDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/domain/Label.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/application/ReleaseService.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/infrastructure/ReleaseR2dbcRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/infrastructure/ReleaseRepositoryImpl.java
  src/main/resources/application.yml
  src/main/resources/schema.sql
  src/test/java/io/dsub/sweatboys/opendiscogs/api/OpenDiscogsApiApplicationTests.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/application/ArtistServiceIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/application/ArtistServiceTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistControllerTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistRepositoryImplIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/config/ApplicationPropertiesConfigTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/test/AbstractDatabaseIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/test/util/TestUtil.java
  src/test/resources/application.yml
Labels: enhancement, build

#15 initial PR for dev/master
  build.gradle
  src/main/java/io/dsub/sweatboys/opendiscogs/api/Application.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistDetailDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistR2dbcRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistRepositoryImpl.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/application/MasterService.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/controller/MasterController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/domain/Master.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/domain/MasterRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/dto/MasterDetailDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/dto/MasterReleaseDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/dto/MasterVideoDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/infrastructure/MasterR2dbcRepository.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/infrastructure/MasterRepositoryImpl.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/query/MasterQuery.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/infrastructure/ReleaseRepositoryImpl.java
  src/main/resources/application.yml
  src/main/resources/logback-spring.xml
  src/main/resources/schema.sql
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/application/ArtistServiceIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/application/ArtistServiceTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistControllerTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/artist/infrastructure/ArtistRepositoryImplIntegrationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/master/application/MasterServiceTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/master/controller/MasterControllerTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/master/infrastructure/MasterRepositoryImplTest.java
Labels: enhancement, build

#20 ci: add bootBuildImage script for fix
  build.gradle
Labels: ci

#21 ci: removes logic for ci-labels-release-gen
  .github/workflows/release.yml
Labels: ci

#24 dev/cd
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  build.gradle
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/hpa.yaml
  helm/templates/ingress.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/templates/servicemonitor.yaml
  helm/templates/tests/test-connection.yaml
  helm/values.yaml
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/PrometheusExemplarSamplerConfiguration.java
  src/main/resources/application.yml
Labels: documentation, enhancement, build, ci, cd

#26 ci: adds checkout on build-and-push
  .github/workflows/release.yml
Labels: ci

#27 ci: adds version variable
  .github/workflows/release.yml
Labels: ci

#29 ci: updates dockerfile to use JDK 17 temurin
  Dockerfile
Labels: ci

#31 ci: removes arm64 build target
  .github/workflows/release.yml
Labels: ci

#37 ci: updates tags from build and push
  .github/workflows/release.yml
Labels: ci

#38 fix(helm): adds quotation for ports
  helm/templates/deployment.yaml
Labels: cd

#40 fix: corrects version update to be applied
  src/main/java/io/dsub/sweatboys/opendiscogs/api/Application.java
  src/main/resources/application.yml
Labels: bug

#42 feat: adds extra fields for helm values
  helm/templates/deployment.yaml
  helm/values.yaml
Labels: cd

#44 fix: adds missing exporter
  helm/templates/deployment.yaml
  helm/values.yaml
Labels: cd

#48 merge PR dev/label
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/infrastructure/LabelRepositoryImpl.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/projection/LabelDetailProjection.java
Labels: housekeeping

#49 merge PR for dev/cleanup
  build.gradle
  gradle.properties
  src/main/java/io/dsub/sweatboys/opendiscogs/api/Application.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/ApplicationPropertiesConfig.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/PageableWebFluxConfiguration.java
  src/main/resources/application.yml
Labels: enhancement, build, housekeeping

#51 ci: adds back latest tag for now
  .github/workflows/release.yml
Labels: ci

#52 feat: bump gradle wrapper for 7.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: build, cd

#54 fix: adds missing configurable swagger-ui-url
  src/main/java/io/dsub/sweatboys/opendiscogs/api/Application.java
  src/main/resources/application.yml
Labels: documentation, cd

#57 adds codeql for workflow
  .github/workflows/codeql.yml
Labels: ci

#56 chore: setup jacoco
  README.md
  build.gradle
  helm/templates/deployment.yaml
  helm/values.yaml
  lombok.config
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistDetailDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistReferenceDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistReleaseDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/ApplicationPropertiesConfig.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/dto/ReleaseArtistDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/dto/ReleaseLabelDTO.java
  src/main/resources/application.yml
Labels: documentation, enhancement, build, cd, test

#58 fix(helm): fixes deployment.yml parser for env map ranging
  helm/Chart.yaml
  helm/templates/deployment.yaml
Labels: bug, urgent

#60 merge PR for dev/helm lint
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  helm/templates/deployment.yaml
Labels: bug, ci

#62 fix: moves helm chart to group chart repo
  README.md
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/hpa.yaml
  helm/templates/ingress.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/templates/servicemonitor.yaml
  helm/templates/tests/test-connection.yaml
  helm/values.yaml
Labels: documentation, housekeeping

#64 merge PR for dev/docs
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/application/LabelService.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/controller/LabelController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/controller/MasterController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/controller/ReleaseController.java
Labels: documentation, housekeeping

#65 fix: adds native cors handler from netty not framework
  build.gradle
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistDetailDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistReferenceDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/dto/ArtistReleaseDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/ApplicationPropertiesConfiguration.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/dto/ReleaseArtistDTO.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/dto/ReleaseLabelDTO.java
  src/main/resources/application.yml
  src/test/java/io/dsub/sweatboys/opendiscogs/api/config/ApplicationPropertiesConfigurationTest.java
  src/test/java/io/dsub/sweatboys/opendiscogs/api/config/DatabaseConfigurationTest.java
Labels: enhancement, build

#67 fix: adds fix for swagger malformed url
  src/main/java/io/dsub/sweatboys/opendiscogs/api/Application.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/artist/controller/ArtistController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/PrometheusExemplarSamplerConfiguration.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/SwaggerConfiguration.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/label/controller/LabelController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/master/controller/MasterController.java
  src/main/java/io/dsub/sweatboys/opendiscogs/api/release/controller/ReleaseController.java
  src/main/resources/application.yml
Labels: bug, enhancement

#68 fix: revert back prometheus exemplar config
  src/main/java/io/dsub/sweatboys/opendiscogs/api/config/PrometheusExemplarSamplerConfiguration.java
Labels: bug
